{% load static %}

<!DOCTYPE html>

<html>
    
    <head>
        <title>Log In</title>
        <link rel="stylesheet" href="{% static 'nest.css' %}">

        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Cutive|Lalezar|Oswald|Roboto" rel="stylesheet">
    </head>
  
    <body style="text-align:center;margin-top:20%; font-size:40px">
        <form action="api/createAccount" method="POST">
            Account name:<br>
            <input type="text" name="account_name"><br>
            Password: <br>
            <input type="text" name="password"><br
            >
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
